<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대회 목록</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 0px;
            background-color: #f5f5f5;
        }
        .container {
            max-width: 1200px;
            margin: auto;
        }
        .table thead th {
            background-color: #c8e6c9; /* 연한 초록색 */
        }
        .table tbody td {
            color: #388e3c; /* 진한 초록색 */
            font-weight: bold; /* 굵은 글씨 */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/static/MSJ_logo.png" alt="대회 로고" style="height: 50px;"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/open_contest">
                            <img src="/static/contest_attend.png" alt="대회 로고" style="height: 20px;"> 대회 개최
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/attend_contest">
                            <img src="/static/contest_join.png" alt="대회 로고" style="height: 20px;"> 대회 참여
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/question_board">
                            <img src="/static/question.png" alt="대회 로고" style="height: 20px;"> 질문 게시판
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/mypage"><img src="/static/mypage.png" alt="대회 로고" style="height: 20px;">마이페이지</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <bR>
    <div class="container">
        <h2 class="text-center mb-4">대회 목록</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">대회 번호</th>
                    <th scope="col">대회 이름</th>
                    <th scope="col">대회 설명</th>
                    <th scope="col">시작 시간</th>
                    <th scope="col">종료 시간</th>
                </tr>
            </thead>
            <tbody>
                {% for contest in contests %}
                <tr>
                    <td>{{ contest.id }}</td>
                    <td><a href ='/attend_contest/{{ contest.id }}'>{{ contest.title }}</a></td>
                    <td>{{ contest.contents }}</td>
                    <td>{{ contest.start_time.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>{{ contest.end_time.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
